@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .brand-border {
    @apply border-t-4 border-b-4 border-black;
  }
}


/* Global styles */
:root {
  --primary-color: #1f1f1f;
  --secondary-color: #47d8fc;
  background-color: #fffffc;
}
